<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionstring>
      <add name ="Default" connectionstring="Data Source=.\NEAdb.db; Version=3;" providerName="System.Data.SQlClient"/>
    </connectionstring>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>